# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv/
backend/.venv/

# Python junk
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
.pytest_cache/
.python-version
backend/generated_wav/
*midi_temp*

toDoList.txt
backend/__pycache__/server.cpython-311.pyc
/backend/__pycache__
backend/__pycache__/server.cpython-311.pyc

# Environment Variables
.env
.env.*
.env.local
