.navbar {
  position: relative;
  background: linear-gradient(rgb(1, 64, 109),rgb(11, 103, 169));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 12vh;
  width: 100%;
  min-width: 1000px;
  & h1{
    margin-left: 4vw;
    font-size: 2.5rem;
  }
}
a {
  text-decoration: none;
}

.right-nav{
  width: 600px;
  margin-right: 8vw;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.title:focus,
.title:hover {
  color: #fff;
}

.title:focus:after,
.title:hover:after {
  width: 100%;
  left: 0%;
}

.title:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.dropdown-menu{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #e1e1e1;
  overflow: hidden;
}

.dropdown:hover .dropdown-menu{
  display: flex;
}