.navbar {
  position: relative;
  background: linear-gradient(rgb(1, 64, 109),rgb(11, 103, 169));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 12vh;
  width: 100%;
  min-width: 1000px;
  & h1{
    margin-left: 4vw;
    font-size: 2.5rem;
  }
}
a {
  text-decoration: none;
}

.right-nav {
  width: 400px; /* Adjust the width as needed */
  margin-right: 8vw; /* Keep consistent with your desired spacing */
  display: flex;
  justify-content: space-between; /* Ensures equal spacing between items */
  align-items: center; /* Aligns items vertically */
  gap: 2rem; /* Adds consistent space between the items */
}

.title {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition: color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-decoration: none; /* No underline by default */
}

.title:focus,
.title:hover {
  color: #fff;
}

.title:focus:after,
.title:hover:after {
  width: 100%;
  left: 0%;
}

.title:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), left 0.4s;
}

/* Persist underline when active */
.title.active:after {
  width: 100%;
  left: 0%;
}

/* Login button */
.login-button {
  padding: 6px 12px;
  margin-left: 10px;
  background-color: #fcfce9;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.login-button:hover,
.login-button:focus {
  background-color: #e1e1e1;
  outline: none;
}
